extends partial/layout.pug

block body
  -
    const methods = [
      'script',
      'script+hack',
      'script[async]',
      'script[async]+hack',
      'script[defer]',
      'script[defer]+hack',
    ]

  h2 Static script tag
  ul
    each method in methods
      li
        a(href=`/demo?method=${encodeURIComponent(method)}`) #{method}

  h2 Add script tag dynamically
  ul
    li
      a(href=`/demo?method=raf`) raf
