doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    style.
      body {
        background: lightgray;
        word-break: break-word;
      }
    block head

  body
    block body
